@import "ownstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Press+Start+2P&display=swap');

html {
    overflow: auto;
    height: 100%;
    width: 100%;
}


 body {
    background-color: #1c1c1c;
    font-family: 'Press Start 2P', cursive;
    transition: all 0.3s ease 0s;
 }


.wrapper {

}
.container {
    width: 100%;
    max-width: 890px;
    margin: 0 auto;
    z-index: 50;
    position: relative;

}

.header{

}
.header__image {
    padding: 50px 0 0 0;
    margin: 0 auto;
    max-width: 100%;
    display: block;
}
.header__points {
    display: flex;
    justify-content: space-between;
}
.points {
    max-width: 72px;
    height: 25px;
    margin: 16px auto;
    div{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: rgb(173, 173, 173);
        border-radius: 50%;
        &:hover{
            cursor: pointer;
        }

    }
}

.point__cyber {
    &._active{
        background-color: blueviolet;
        transition: all 0.3s ease 0s;
    }
}
.point__japan {
    &._active{
        background-color: #ff9c00;
        transition: all 0.3s ease 0s;

    }
}
.point__classic {
    &._active{
        background-color: grey;
        transition: all 0.3s ease 0s;

    }
}
.menu {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #313a5c;
    height: 86px;
    z-index: 10;
}
.menu__icon {
    display: none;
    float: right;
    margin: 24px 20px;
}
.menu__bar1 {
}
.menu__bar2 {
}
.menu__bar3 {
}
.menu__body {
    display: block;
    width: 100%;
    height: 86px;  
}

.menu__list {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    min-height: 85px;
    
    li{
        a{
            color: white;
            transition-duration: 1s;
        }
        a:hover{
            text-decoration: underline;
            box-shadow: 0px 7px 10px #df2481;
        }
    }
}
.menu__link {
}
.page {

}
.page__columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page__column {
    position: relative;
    margin: 32px 0 0 0;
    background-color: #232a42;
    width: 274px;
    height: 615px;
    h2{
        display: inline-block;
        line-height: 20px;
        padding: 30px 0 0 17px;
        font-size: 18px;
        color: white;
    }
}

.page__line{
    position: absolute;
    width: 90%;
    height: 9px;
    background-color: #1f1b38;
    top: 75px;
    left: 14px;
}

.page__about {
    width: 100%;
    height: 500px;
    margin: 32px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.page__about_block_1 {
    background-color: #232a42;
    width: 100%;
    height: 100%;
    // border: 7px solid black;

}

.page__about_me {
    border: 7px solid black;
    height: 98%;

}
.page__about_me_text {
    h2{
        font-size: 24px;
        color: black;
        margin: 10px 0 0 10px;
    }
    p{
        font-size: 16px;
        margin: 20px 0 0 20px;
    }
}

.page__about_block_2 {
    height: 100%;
    width: 50%;
    background-color: #232a42;
    margin: 0 0 0 20px;

}

.page__icon {
    width: 100%;
    height: 230px;
    margin: 20px 0 0 0;
    text-align: center;
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 10px solid black;
    }
}
.page__text {
    text-align: center;
    h2{
        font-size: 24px;
        text-decoration: underline;
    }
    p{
        margin: 30px 0 0 0;
        font-size: 18px;
        a{
            color: black;
            transition-duration: 1s;
            
        }
        a:hover{
            box-shadow: 0px 7px 10px #df2481;
        }
    }
}

.page__blog {
    display: flex;
    width: 100%;
    height: 482px;
    margin: 32px 0 32px 0;
}
.page__blog_block {
    border: 7px solid black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #232a42;
}
.footer {
    height: 130px;
}
.footer__block {
    height: 100%;
    width: 100%;
    background-color: #313a5c;
}
.footer__text {
}

@media screen and (max-width: 860px) {
    
    .wrapper{
        margin: 0 20px;
    }

    .points {
        max-width: 61px;
        div{
            width: 15px;
            height: 15px;
        }
    }

    .page__columns {
        flex-direction: column;
    }

    .page__column {
        width: 100%;
        h2{
            font-size: 21px;
        }
    }

    .page__about {
        flex-direction: column;
        height: 1000px;
    }
    
    .page__about_me_text{
        h2{
            font-size: 32px;
        }
    }
    .page__about_block_2{
        margin: 20px 0 0 0;
        width: 100%;
    }
}


@media screen and (max-width: 750px) {
    .menu__list {
        max-width: 600px;
    }

}

@media screen and (max-width: 650px) {

    .menu__bar1, .menu__bar2, .menu__bar3 {
		width: 33px;
		height: 3px;
		background-color: #fff;
		margin: 7px 0;
		transition: all 0.3s ease 0s;
	}
    ._active .menu__bar1 {
        transform: rotate(-45deg) translate(-6px, 6px);
      }
  
      ._active .menu__bar2 {
          opacity: 0;
      }
  
      ._active .menu__bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
      }

    .menu._active {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }
  
    .menu__body{
        display: block;
        position: absolute;
        left: 0%;
        top: -200%;
        width: 100%;
        height: 100%;
        transition: top 0.7s ease 0s;
        // background-color: rgba(0, 0, 0, 0.9);
    }

    .menu__body._active{
        top: 0;
    }

    .menu__list{
        display: none;
    }


    .menu__list._active{
        padding: 216px 0 0 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 300px;
        max-width: none;
    }

    .menu__icon{
        top: 0;
        z-index: 5;
        display: block;
        cursor: pointer;
    }

    .menu__icon._active{
        position: relative;
        margin: 24px 35px;
        float: right;
        transition: all 1s ease 0s;
        z-index: 2000;
    }

    .body._lock{
        overflow: hidden;
    }
}