body {
  background-color: #fff;
}

.menu {
  background-color: #e6e6e6;
}

.page__column {
  background-color: #e6e6e6;
}

.page__line {
  background-color: #000;
}

.page__about_block_1 {
  background-color: #e6e6e6;
}

.page__about_block_2 {
  background-color: #e6e6e6;
}

.page__blog_block {
  background-color: #e6e6e6;
}

.footer__block {
  background-color: #e6e6e6;
}

.menu__bar1, .menu__bar2, .menu__bar3 {
  background-color: #000;
}
