body {
  background-color: #1c1c1c;
}

.menu {
  background-color: #313a5c;
}

.page__column {
  background-color: #232a42;
}

.page__line {
  background-color: #1f1b38;
}

.page__about_block_1 {
  background-color: #232a42;
}

.page__about_block_2 {
  background-color: #232a42;
}

.page__blog_block {
  background-color: #232a42;
}

.footer__block {
  background-color: #313a5c;
}

.menu__bar1, .menu__bar2, .menu__bar3 {
  background-color: #fff;
}
